{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fosuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fosUser.id }}</td>
            </tr>
            <tr>
                <th>Nameuser</th>
                <td>{{ fosUser.nameUser }}</td>
            </tr>
            <tr>
                <th>Dniuser</th>
                <td>{{ fosUser.dniUser }}</td>
            </tr>
            <tr>
                <th>Fnacuser</th>
                <td>{% if fosUser.fnacUser %}{{ fosUser.fnacUser|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Direuser</th>
                <td>{{ fosUser.direUser }}</td>
            </tr>
            <tr>
                <th>Phonuser</th>
                <td>{{ fosUser.phonUser }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fosuser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fosuser_edit', { 'id': fosUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
