{% extends 'base.html.twig' %}

{% block aside %}
    {% include ':Admin:aside_super.hmtl.twig' %}
{%endblock%}

{% block page_content %}
    {% form_theme edit_form '@App/Form/fields.html.twig' %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Complejos
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Escritorio</li>
            </ol>
        </section>
        <section class="content">
            <div class="hpanel hred">
                <div class="panel-heading">
                    <h3>{{ tcancha.nameTipo }}</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        {{ form_label(edit_form.nameTipo, 'Nombre', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_widget(edit_form.nameTipo) }}
                    </div>
                    <div>
                        <div class="panel-footer text-center">
                            <input type="submit" value="Guardar" class="btn btn-success col-sm-2"/>
                            {{ form_end(edit_form) }}
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Eliminar" class="btn btn-danger col-sm-2">
                            {{ form_end(delete_form) }}
                            <a class="btn btn-default col-sm-2" href="{{ path('type_courtes_index') }}" >Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}