{% extends 'base.html.twig' %}

{% block aside %}
    {% include ':Admin:aside_super.hmtl.twig' %}
{%endblock%}

{% block page_content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Escritorio
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Escritorio</li>
            </ol>
        </section>
        <section class="content">
            <div class="hpanel hred">
                <div class="panel-heading">
                    <h3>Tipos de Canchas</h3>
                    <a href="{{ path('type_courtes_new') }}" class="pull-right"><i class="fa fa-plus-circle fa-3x"></i></a>
                </div>
                <div class="panel-body">
                    <input type="search" class="light-table-filter" data-table="order-table" placeholder="Buscar"/>
                    <div class="table-responsive">
                        <table class="table order-table table">
                            <thead>
                                <tr>
                                    <th class="hidden">Idtipo</th>
                                    <th>Nombre Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tcancha in tcanchas %}
                                <tr>
                                    <td class="hidden"><a href="{{ path('type_courtes_show', { 'id': tcancha.idTipo }) }}">{{ tcancha.idTipo }}</a></td>
                                    <td>{{ tcancha.nameTipo }}</td>
                                    <td class="tools">
                                        <a href="{{ path('type_courtes_edit', { 'id': tcancha.idTipo }) }}"><i class="fa fa-edit fa-2x"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
