{% extends 'base.html.twig' %}

{% block aside %}
    {{ parent() }}
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('img/user.jpg') }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <h4>{{ app.user.username }}</h4>
                </div>
            </div>
        </section>
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span>Complejos</span>
                        <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('complex_index') }}"><i class="fa fa-circle-o"></i> Listado</a></li>
                        <li><a href="{{ path('courtes_index') }}"><i class="fa fa-circle-o"></i> Canchas</a></li>
                        <li><a href="{{ path('type_courtes_index') }}"><i class="fa fa-circle-o"></i> Tipo de Canchas</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span>Campeonatos</span>
                        <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('champ_index') }}"><i class="fa fa-circle-o"></i> Listado</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
{% endblock %}

{% block page_content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Campeonatos
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Lista Campeonatos</li>
            </ol>
        </section>
        <section class="content">
            <div class="hpanel hred">
                <div class="panel-heading">
                    <h3>Campeonato {{ campeonato.nameCamp }}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr class="hidden">
                            <th>Idcamp</th>
                            <td>{{ campeonato.idCamp }}</td>
                        </tr>
                        <tr>
                            <th>Namecamp</th>
                            <td>{{ campeonato.nameCamp }}</td>
                        </tr>
                        <tr>
                            <th>Fechinic</th>
                            <td>{% if campeonato.fechInic %}{{ campeonato.fechInic|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fechfina</th>
                            <td>{% if campeonato.fechFina %}{{ campeonato.fechFina|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Precinsc</th>
                            <td>{{ campeonato.precInsc }}</td>
                        </tr>
                        <tr>
                            <th>Desccamp</th>
                            <td>{{ campeonato.descCamp }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-center">
                    <a href="{{ path('champ_edit', { 'id': campeonato.idCamp }) }}" class="btn btn-primary col-sm-2">Editar</a>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Eliminar" class="btn btn-danger col-sm-2">
                    {{ form_end(delete_form) }}
                    <a href="{{ path('champ_index') }}" class="btn btn-default col-sm-2">Atras</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
