<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Bienvenido a Tarjeta Roja - Administrador {% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('libs/bootstrap/dist/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
            <link rel="stylesheet" href="{{ asset('libs/dist/css/AdminLTE.css') }}"/>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        {% endblock %}
        {% block meta_tags %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>


    {% block body %}
    <body>
        {% block header %}
        <header class="main-header">
            <!-- Logo -->
            <a href="{{ path('homepage') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>TR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Tarjeta Roja Admin</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% for type, flashMessage in app.session.flashbag.all() %}
                    <div class="alert alert-{{ type }} fade in">
                        <button class="close" data-dismiss="alert" type="button">×</button>
                        {% if flashMessage.title is defined %}
                            <strong>{{ flashMessage.title }}</strong>
                            {{ flashMessage.message }}
                        {% else %}
                            {{ type }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <i class="fa fa-circle text-success"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% block aside %}
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ asset('img/user.jpg') }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <h4>{{ app.user.username }}</h4>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i>
                                <span>Complejos</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('complejo_index') }}"><i class="fa fa-circle-o"></i> Listado</a></li>
                            <li><a href="{{ path('cancha_index') }}"><i class="fa fa-circle-o"></i> Canchas</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i>
                            <span>Campeonatos</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('campeonato_index') }}"><i class="fa fa-circle-o"></i> Listado</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        {% endblock %}

        {% block page_content %}
        {% endblock %}

        {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://tarjetaroja.com">WEBSSS Developers</a>.</strong> Todos los derechos reservados.
        </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

            <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script>
                $.widget.bridge('uibutton', $.ui.button);
            </script>
            <script src="{{ asset('libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('libs/dist/js/app.min.js') }}"></script>
            <script src="{{ asset('libs/dist/js/demo.js') }}"></script>
            <script src="{{ asset('libs/dist/js/pages/dashboard.js') }}"></script>

        {% endblock %}
    </body>
    {% endblock %}

</html>
