<html>
<head>
	<title>Tarjeta Roja</title>
	<link rel='stylesheet' type='text/css' href='{{asset('calendario/calendario/reset.css')}}' />
    <link rel='stylesheet' type='text/css' href='{{asset('calendario/libs/css/smoothness/jquery-ui-1.8.11.custom.css')}}' />
	<link rel='stylesheet' type='text/css' href='{{asset('calendario/jquery.weekcalendar.css')}}' />
	<link rel='stylesheet' type='text/css' href='{{asset('calendario/calendario/calendario.css')}}' />
	<link rel='stylesheet' type='text/css' href='{{asset('calendario/skins/default.css')}}' />



   	<script type='text/javascript' src='{{asset('calendario/libs/jquery-1.4.4.min.js')}}'></script>
    <script type='text/javascript' src='{{asset('calendario/libs/jquery-ui-1.8.11.custom.min.js')}}'></script>
	<script type="text/javascript" src='{{asset('calendario/libs/date.js')}}'></script>
	<script type='text/javascript' src='{{asset('calendario/jquery.weekcalendar.js')}}'></script>
	<script type='text/javascript' src='{{asset('calendario/calendario/calendario.js')}}'></script>
</head>
<body>

	<h1>Reserva tu Cancha</h1>
	<div id='calendar'></div>
	<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Dia: </span><span class="date_holder"></span>
				</li>
				<li>
					<label for="start">Comienzo Reserva: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="title">Nombre Reservador: </label><input type="text" name="title" value="{{ user.email }}"/>
				</li>

			</ul>
		</form>

	</div>
	<div>
		<button href="{{ path('send_email', { {{ user.email }} }) }}" class="btn btn-success">Reservar Turno</button>
	</div>
</body>
</html>
{# empty Twig template #}
