{% extends 'index/index.html.twig' %}

{% block header %}{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{% trans %} last {% endtrans %} {%trans %} champ_title{% endtrans %}</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_default') }}">{% trans %} home {% endtrans %}</a></li>
                    <li class="active">{% trans %} champ {% endtrans %}</li>
                </ol>
            </div>
        </div>
        {% for campeonato in campeonatos %}
            <div class="row">
                <div class="col-md-1 text-center">
                    <p><i class="fa fa-futbol-o fa-3x"></i></p>
                </div>
                <div >
                    <div class="col-md-5">
                        <img class="img-responsive img-hover" src="{{ campeonato.urlFoto}}" alt="">
                        <hr>
                    </div>
                    <div class="col-md-6" >
                        <h3>{{ campeonato.nameCamp }}</h3>
                        <p>{% trans %} champ_orga_by {% endtrans %}: {{ campeonato.idComp }}</p>
                        <p>{% trans %} start {% endtrans %}:  {{ campeonato.fechInic | date("d/m/Y") }}   {% trans %} final {% endtrans %}: {{ campeonato.fechFina | date("d/m/Y") }}</p>
                        <p>{{ campeonato.descCamp }}</p>
                        <p>{% trans %} price_reg {% endtrans %}: $ {{ campeonato.precInsc }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; {% trans %} back {% endtrans %}</a>
            </li>
            <li class="next">
                <a href="#">{% trans %} next {% endtrans %}&rarr;</a>
            </li>
        </ul>
        <hr>
    </div>

{% endblock %}
