{% extends ':index:index.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('libs/bootstrap/formulario.css') }}"/>
{% endblock %}

{% block header %}{% endblock %}

{% block container %}
	<div class="container">
		<div class="container-fluid">
			<!-- Page Heading/Breadcrumbs -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{ path('app_default') }}">Home</a></li>
						<li><a href="{{ path('complex_index')}}">Complejos</a></li>
						<li class="active">Descripción</li>
					</ol>
				</div>
			</div>

			<div id="form" class="form-wrapper">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
				<input type="submit" value="Buscar Horarios Disponibles" class="btn btn-info col-sm-12"/>
			</div>

		</div>
	</div>
{% endblock %}
