{% extends ':index:index.html.twig' %}

{% block header %}{% endblock %}

{% block container %}
	<div class="container">
		<div class="container-fluid">
			<!-- Page Heading/Breadcrumbs -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{ path('app_default') }}">Home</a></li>
						<li><a href="{{ path('complex_index')}}">Complejos</a></li>
						<li class="active">Descripción</li>
					</ol>
				</div>
			</div>



				<div>
					<button href="{{ path('send_email', { {{ user.email }} }) }}" class="btn btn-success">Reservar Turno</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script src="{{ asset('js/jquery.colorbox.js') }}"></script>
{% endblock %}
