{% extends 'base.html.twig' %}
{% block page_content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Escritorio
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Escritorio</li>
        </ol>
    </section>
    <section class="content">
        <div class="hpanel hred">
            <div class="panel-heading">
                <h3>Lista de Complejos</h3>
                <a href="{{ path('complejo_new') }}" class="pull-right"><i class="fa fa-plus-circle fa-3x"></i></a>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="hidden">Idcomp</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Descripcion</th>
                            <th>URL</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for complejo in complejos %}
                            <tr>
                                <td class="hidden"><a href="{{ path('complejo_show', { 'id': complejo.idComp }) }}">{{ complejo.idComp }}</a></td>
                                <td>{{ complejo.nameComp }}</td>
                                <td>{{ complejo.direComp }}</td>
                                <td>{{ complejo.phonComp }}</td>
                                <td>{{ complejo.mailComp }}</td>
                                <td>{{ complejo.descripComp }}</td>
                                <td>{{ complejo.urlComp }}</td>
                                <td class="tools">
                                    <a href="{{ path('complejo_show', { 'id': complejo.idComp }) }}"><i class="fa fa-edit fa-2x"></i> </a>
                                    <a href="{{ path('complejo_edit', { 'id': complejo.idComp }) }}"><i class="fa fa-trash-o fa-2x"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}