{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="{{ asset('libs/bootstrap/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="wrapper">

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal fos_user_change_password' } }) }}
            <h3 class="form-signin-heading">Change your password...  <span class="fa fa-unlock-alt fa-2x"></span></h3>
            <hr class="colorgraph"><br>
            {{ form_errors(form) }}
            <div class="form-group{% if form.current_password.vars.errors[0].message is defined %} has-error{% endif %}">
                {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    {% if form.current_password.vars.errors[0].message is defined %}
                        <span class="help-block">
                            {{ form.current_password.vars.errors[0].message }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
                {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {% if form.plainPassword.first.vars.errors[0].message is defined %}
                        <span class="help-block">
                            {{ form.plainPassword.first.vars.errors[0].message }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if form.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
                {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {% if form.plainPassword.second.vars.errors[0].message is defined %}
                        <span class="help-block">
                            {{ form.plainPassword.second.vars.errors[0].message }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block " type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}