{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicios list</h1>

    <table>
        <thead>
            <tr>
                <th>Idserv</th>
                <th>Nameserv</th>
                <th>Precserv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td><a href="{{ path('super_servicio_show', { 'id': servicio.idServ }) }}">{{ servicio.idServ }}</a></td>
                <td>{{ servicio.nameServ }}</td>
                <td>{{ servicio.precServ }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('super_servicio_show', { 'id': servicio.idServ }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('super_servicio_edit', { 'id': servicio.idServ }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('super_servicio_new') }}">Create a new servicio</a>
        </li>
    </ul>
{% endblock %}
