{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Campeonatos
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Campeonatos</li>
            </ol>
        </section>
        <section class="content">
            <div class="hpanel hred">
                <div class="panel-heading">
                    <h3>{{ campeonato.nameCamp }}</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        {{ form_widget(edit_form) }}
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" value="Guardar" class="btn btn-success col-sm-2"/>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Eliminar" class="btn btn-danger col-sm-2">
                        {{ form_end(delete_form) }}
                        <a class="btn btn-default col-sm-2" href="{{ path('campeonato_index') }}" >Atrás</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}