{% extends 'base.html.twig' %}

{% block page_content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Canchas
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Escritorio</li>
        </ol>
    </section>
    <section class="content">
        <div class="hpanel hred">
            <div class="panel-heading">
                <h3>{{ cancha.nameCanch }}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr class="hidden">
                            <th>Idcanch</th>
                            <td>{{ cancha.idCanch }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ cancha.nameCanch }}</td>
                        </tr>
                        <tr>
                            <th>Techada</th>
                            <td>{% if cancha.cubi %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Precio</th>
                            <td>{{ cancha.precCanch }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ cancha.idTipo }}</td>
                        </tr>
                        <tr>
                            <th>Capacidad</th>
                            <td>{{ cancha.idCapa }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <a href="{{ path('cancha_edit', { 'id': cancha.idCanch }) }}" class="btn btn-primary col-sm-2">Editar</a>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Eliminar" class="btn btn-danger col-sm-2">
                {{ form_end(delete_form) }}
                <a href="{{ path('cancha_index') }}" class="btn btn-default col-sm-2">Atras</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
